---
interface Props {
    url: string;
    name: string;
    isBig?: boolean
}

const { url, name, isBig = false } = Astro.props;
const id = url.split('/').at(-2);
const imgScr = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;;
---

<a
    href={`/pokemons/${name}`}
    class:list = {[
         `rounder flex flex-col justify-center items-center bg-slate-700 p-4`,
         {
            border: !isBig,
         },
    ]}
>   
    <img 
    class:list={[
        {
            'w-26 h-26': isBig,
            'w-16 h-16': !isBig,
        },
    ]}
    src={imgScr}
    alt={name} 
    />
    <span 
        class:list={[
            `capitalize`,
            {
                'text-4xl text-blue-300': isBig,
            },
        ]}> #{id} {name}</span
    
</a>